// Mixin that styles links in status messages and system report
@mixin status-links {
  a {
    color: darken($body-font-color, 30%);
    text-shadow: none;

    &:hover {
      color: darken($body-font-color, 35%);
    }
  }
}

// We use this mixin to add alert styles. This is Foundation 4's mixin.
@mixin alert-style($bg:$primary-color) {

  // This find the lightness percentage of the background color.
  $bg-lightness: lightness($bg);

  // We control which background color and border come through.
  background-color: $bg;
  border-color: darken($bg, $alert-function-factor);

  // We control the text color for you based on the background color.
  @if $bg-lightness > 70% { color: $alert-font-color-alt; }
  @else                   { color: $alert-font-color; }

}

/* Foundation Alerts */
.alert-box {
  &.warning { @include alert-style($warning-color); }
}


// Status Messages
div.alert-box.messages {

  @include status-links();

  word-wrap: break-word;

  p {
    .break-word {
      word-wrap: break-word;
    }
  }

  // Change placement and size of close "X"
  a.close {
    font-size: 20px;
  }

  // Foundation does not have a warning message. Created warning color in zoundation-settings.
  &.warning {
    color: #666;
  }

  // Styles for multiple lists in Status Message.
  &.messages ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}



// System Status Report Table


table.system-status-report {

  tr {
    border-bottom: 1px solid #e9e9e9;

    td { // Creating more space in the cells
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
    }


    td.status-icon {
      padding: 0;
    }
  }

  tr.error, tr.ok {

    .status-title, .status-value {
      color: white;
    }

    td {
      color: white;
    }
  }
}


// Extending Foundation alert and success styles to rows in system report rows

tr.ok, table tbody tr:nth-child(even).ok {
  @extend div.alert-box.success !optional;
  @include status-links();
}

tr.error, table tbody tr:nth-child(even).error {
  @extend div.alert-box.alert !optional;
}

tr.info, table tbody tr:nth-child(even).info {
  @extend div.alert-box.secondary !optional;
}

tr.warning, table tbody tr:nth-child(even).warning {
  @extend div.alert-box.messages.warning !optional;
}

// Styles for Krumo Devel messages
div.alert-box .krumo-root {
  color: black;
  text-shadow: none;
  width: 90%;
  display: inline-block;
}

.krumo-call {
  color: black;
}

// Creates hierarchy in krumo devel
div.alert-box.messages ul.krumo-node ul {
  margin-left: 20px;
}