// Hack to add .small .button style to #main-menu links. Maybe use mixins?
#main-menu {
  li a {
    @extend .button !optional;
    @extend .small !optional;
  }
}

// Applying Foundation 4's side-nav style to menu's in sidebars
// http://foundation.zurb.com/docs/components/side-nav.html
.region-sidebar-first, .region-sidebar-second {
  @include side-nav;
}

// Check if we need this code anymore
#navigation ul.menu {
  margin: 0;

   li {
    margin-left: 0;

    ul li {
      margin-left: 0;
    }
  }
}


// Initial pass at using Foundation 4's new section tabs for Drupal Tabs.
.tabs.primary {
  border-bottom: $section-border-size $section-border-style $section-border-color;
  @include clearfix;

  dd {
    float: left;
    margin-left: -1px;
    margin-bottom: 0;

    a {
      padding: $section-padding/2 $section-padding;
      display: inline-block;
      color: $section-title-color;
      font-size: emCalc(14px);
      white-space: nowrap;
      width: auto;
      background: $section-title-bg;
      border-top: $section-border-size $section-border-style $section-border-color;
      border-left: $section-border-size $section-border-style $section-border-color;
      border-right: $section-border-size $section-border-style $section-border-color;
      &:hover { background-color: darken($section-title-bg, $section-function-factor/2); }
    }
    &.active {
      a {
        background: $section-title-bg-active-tabs;
        border-bottom: none;

      }
    }
  }
}